body {
  background-color: #000000;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-banner {
  display: none;
}

.home-banner-small {
  display: block;
}

.home-nav {
  display: flex;
  justify-content: center;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: 30px;
}

.home-nav__item {
  font-size: 12px;
}

.home-nav__item a:link {
  color: #ffffff;
}

.home-nav__item a:visited {
  color: #ffffff;
}

.home-nav__item a:hover {
  color: #ffffff;
  text-decoration: none;
}

.home-nav__item a:active {
  color: #ffffff;
}

.home-nav__divider {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .home-banner {
    display: block;
  }

  .home-banner-small {
    display: none;
  }
}

code div {
  line-height: 8px;
  font-size: 8px;
  font-weight: bold;
  white-space: pre;
  color: #ffffff;
  background: #000000;
}